.wrapper{
    background-color: #435C70;
    margin: 2% auto;
    color: #ffffff;
    width: 42%;
    padding: 4%;
    box-sizing: border-box;
}

.header{
    margin: 0 0 38px;
    text-align: center;
}

