.wrapper{
    background-color: #4E657A;
}

.content{
    padding: 3% 10%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #394f62;;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6d8da6;;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}